<nav class="amber darken-1">
  <ul>
    <li><%= link_to "Home", root_path, class:"blue-text text-darken-2" %></li>
    <li><%= link_to "New profile", "/profiles/new", class:"blue-text text-darken-2" %></li>
  </ul>
</nav>
