<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mostrar usuario</title>
  </head>
  <body>
    <div class="container">

      <img src="<%= @profile.image %>"/>
      <br>
      <%= @profile.name %>
      <br>
      <%= @profile.url %>
      <br>
      <%= @profile.username %>

    </div>
  </body>
</html>
